
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta name="twitter:image" content="../../assets/img/favicon.svg">
    <meta property="og:image" content="../../assets/img/favicon.svg">
    <link rel="icon" type="image/png" sizes="759x683" href="../../assets/img/favicon.svg">
    <link rel="icon" type="image/png" sizes="759x683" href="../../assets/img/favicon.svg">
    <link rel="icon" type="image/png" sizes="759x683" href="../../assets/img/favicon.svg">
    <link rel="icon" type="image/png" sizes="759x683" href="../../assets/img/favicon.svg">
    <link rel="icon" type="image/png" sizes="759x683" href="../../assets/img/favicon.svg">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../../assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/admin-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>

    @*loader*@
    <section class="d-flex justify-content-center align-items-center" id="loading-holder" style="height: 100vh;position: fixed;background: #ffffff;top: 0;width: 100%;z-index: 10000; overflow: hidden"><img class="loader-img" src="../../assets/img/loader.gif" style="width: 100%;max-width: 600px;" /></section>


    @*Header*@
    <section style="position: sticky;top: 0;width: 100%;z-index: 1000;">
        <div class="row row-cols-1" style="width: 100%;margin: 0px;">
            <div class="col d-flex justify-content-center top-header" style="background: #006038;min-height: 45px;padding: 0px;">
                <div class="d-flex justify-content-end align-items-center" style="width: 100%;max-width: 1200px;">
                    <ul class="list-inline" style="margin: 0px;">
                        <li class="list-inline-item" style="margin-right: 30px;"></li>
                        <li class="list-inline-item" style="margin-right: 30px;">
                            <div class="d-flex align-items-center item-top-header-none hov-top-header"><i class="fa fa-cubes d-flex justify-content-center align-items-center" style="font-size: 30px;padding-right: 10px;"></i><span class="d-flex align-items-center" style="font-weight: bold;">Cửa hàng</span></div>
                        </li>
                        <li class="list-inline-item">
                            <div class="d-flex align-items-center item-top-header-none hov-top-header"><i class="fas fa-comments-dollar d-flex justify-content-center align-items-center" style="font-size: 30px;padding-right: 10px;"></i><span class="d-flex align-items-center" style="font-weight: bold;">Thông báo</span><span class="badge badge-primary" style="background: rgb(255,255,255);color: rgb(0,0,0);">0</span></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col d-flex justify-content-center main-header" style="padding-top: 15px;padding-bottom: 15px;background: #2b9d6e;">
                <div class="row no-gutters row-cols-2 header-top" style="width: 100%; max-width: 1200px">
                    <div class="col-8 col-lg-4 col-xl-3 d-flex justify-content-start align-items-center header-top"><img class="img-logo-header" src="../../assets/img/logo.svg"></div>
                    <div class="col-4 col-lg-8 col-xl-6">
                        <div class="row d-flex d-sm-flex d-lg-flex justify-content-end justify-content-lg-end justify-content-xl-start simple-menu-header header-top" style="width: 100%;margin: 0px;height: 100%;">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-5 d-flex d-xl-flex justify-content-center align-items-center align-items-xl-center search-header" onclick="opensearchMob()"><i class="fa fa-search icon-search-header" style="color: rgb(255,255,255);"></i></div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-5 d-flex d-xl-flex justify-content-center align-items-center align-items-xl-center search-header"><i class="fas fa-home icon-search-header" style="color: rgb(255,255,255);"></i></div>
                            <div class="col d-lg-flex justify-content-lg-center align-items-lg-center pc-header-item">
                                <ul class="list-inline" style="margin: 0px;">
                                    <li class="list-inline-item" style="margin-right: 20px;"><a class="text-uppercase d-flex align-items-center justify-content-xl-center link-header" href="shop.html" style="height: 100%;">Trang chủ</a></li>
                                    <li class="list-inline-item" style="margin-right: 20px;"><a class="text-uppercase d-flex align-items-center justify-content-xl-center link-header is-active-head" href="shop.html" style="height: 100%;">Hoạt động</a></li>
                                    <li class="list-inline-item" style="margin-right: 20px;"><a class="text-uppercase d-flex align-items-center justify-content-xl-center link-header" href="shop.html" style="height: 100%;">Chat</a></li>
                                    <li class="list-inline-item d-lg-flex d-xl-none justify-content-lg-center align-items-lg-center" style="margin-right: 20px;padding-top: 20px;padding-bottom: 10px;">
                                        <div style="width: 100%;">
                                            <form class="d-lg-flex justify-content-lg-end align-items-lg-center"><input class="form-control form-control-lg search-input-mainheader" type="search" style="padding-left: 30px;padding-right: 40px;outline: none;font-size: 15px;background: rgb(11,126,79);color: rgb(255,255,255);box-shadow: 0px 0px 5px 0px;font-weight: bold;border-style: none;border-radius: 20px;" placeholder="Tìm kiếm..." name="search"><i class="fa fa-search" style="position: absolute;color: rgb(255,255,255);font-size: 20px;margin-right: 15px;"></i></form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-xl-3 d-flex d-lg-flex d-xl-flex justify-content-end justify-content-lg-end align-items-lg-center align-items-xl-center search-input-header"><input class="form-control-lg search-input-mainheader" type="search" style="padding-left: 30px;padding-right: 40px;outline: none;font-size: 15px;background: rgb(11,126,79);color: rgb(255,255,255);box-shadow: 0px 0px 5px 0px;font-weight: bold;border-style: none;border-radius: 20px;" placeholder="Tìm kiếm..."><i class="fa fa-search" style="position: absolute;color: rgb(255,255,255);font-size: 20px;padding-right: 15px;"></i></div>
                </div>
            </div>
        </div>
    </section>

    @*Content*@
    <div>
        @RenderBody()
    </div>


    @*Clone cart*@
    <section class="text-nowrap" style="position: absolute;bottom: 0;overflow: hidden;opacity: 0;" onmouseout="cartHoverOut()">
        <div class="col d-flex justify-content-end align-items-center" id="good-alert" style="opacity: 0;transition: 1s;">
            <div role="alert" class="alert alert-success text-break alert-thongbao" style="overflow: hidden;width: 0px;transition: 1s;animation-name: slideLeft;animation-duration: .5s;"><span style="font-size: 20px;font-weight: bold;"><strong>Đây là thông báo</strong><br /></span></div>
        </div>
        <div class="col d-flex justify-content-end align-items-center" id="bad-alert" style="opacity: 0;transition: 1s;">
            <div role="alert" class="alert alert-danger text-break alert-thongbao" style="overflow: hidden;width: 0px;transition: 1s;animation-name: slideLeft;animation-duration: .5s;"><span style="font-size: 20px;font-weight: bold;"><strong>Đây là thông báo </strong><br /></span></div>
        </div>
    </section>



    @*notification*@

    @{
        var listNotification = (List<string>)Session["ThongBao"];
        Session["ThongBao"] = null;
    }
    <section class="d-sm-flex justify-content-sm-end" style="position: fixed;right: 0;top: 0;overflow: hidden;max-width: 400px; z-index: 1000">
        <div class="row row-cols-1" id="holder-notification"></div>
    </section>

    @*Bottom Mobile*@

    <div class="text-nowrap border rounded-0 border-white shadow-lg d-flex justify-content-center align-items-center bottom-navigation" style="width: 100%;">
        @*Bottom Navigation*@
        <div class="text-nowrap border rounded-0 border-white shadow-lg d-flex justify-content-center align-items-center bottom-navigation" style="width:100%">
            <div class="row row-cols-4 d-flex justify-content-center" style="height: 50px;padding-left: 10px;padding-right: 10px;">
                <div class="col d-flex justify-content-center" style="color: rgb(99,99,99);">
                    <div class="row row-cols-1 active-item-nav-bot">
                        <div class="col d-flex justify-content-center"><i class="fas fa-shipping-fast" style="font-size: 27px;"></i></div>
                        <div class="col d-flex justify-content-center"><span>Đơn Hàng</span></div>
                    </div><a href="index.html" style="position: absolute;width: 100%;height: 100%;"></a>
                </div>
                <div class="col d-flex justify-content-center" style="color: rgb(99,99,99);">
                    <div class="row row-cols-1">
                        <div class="col d-flex justify-content-center"><i class="fas fa-leaf" style="font-size: 27px;"></i></div>
                        <div class="col d-flex justify-content-center"><span>Sản phẩm</span></div>
                    </div><a href="shop.html" style="position: absolute;width: 100%;height: 100%;"></a>
                </div>
                <div class="col d-flex justify-content-center" style="color: rgb(99,99,99);">
                    <div class="row row-cols-1">
                        <div class="col d-flex justify-content-center"><i class="fas fa-user-edit" style="font-size: 27px;"></i></div>
                        <div class="col d-flex justify-content-center"><span>Tài khoản</span></div>
                    </div><a href="login.html" style="position: absolute;width: 100%;height: 100%;"></a>
                </div>
                <div class="col d-flex justify-content-center" style="color: rgb(99,99,99);">
                    <div class="row row-cols-1">
                        <div class="col d-flex justify-content-center"><i class="fas fa-chart-pie" style="font-size: 27px;"></i></div>
                        <div class="col d-flex justify-content-center"><span>Thống kê</span></div>
                    </div><a href="#" style="position: absolute;width: 100%;height: 100%;"></a>
                </div>
            </div>
        </div>
        @*Search mobile*@
        <div class="d-flex d-lg-none justify-content-center align-items-center search-hidden-top" style="position: fixed;width: 100%;z-index: 100;top: -100%;background: #2b9d6e;overflow: hidden;transition: .3s;">
            <span class="d-none d-md-flex" style="color: rgb(255,255,255);font-weight: bold;padding-right: 50px;font-size: 20px;">Tên sản phẩm hoặc tên bài viết&nbsp;</span>
            <form class="d-flex justify-content-end align-items-center" style="height: 100%;width: 300px;"><input class="form-control search-input-mainheader" type="search" style="border-style: none;outline: none;background: rgb(136,184,151);border-radius: 30px;color: rgb(255,255,255);font-weight: bold;padding: 0px;padding-left: 30px;padding-right: 50px;box-shadow: 0px 0px 5px rgb(43,157,110);margin-top: 10px;margin-bottom: 10px;" name="search_mobile" placeholder="Tìm kiếm..."><button class="btn btn-primary d-flex justify-content-center align-items-center" type="submit" style="position: absolute;height: 100%;background: transparent;border: none;box-shadow: none;"><i class="fa fa-check" style="font-size: 23px;color: rgb(255,255,255);" onclick="this.form.submit()"></i></button></form><i class="fa fa-close" style="color: rgb(255,255,255);font-size: 30px;padding-left: 10px;" onclick="opensearchMob()"></i>
        </div>
    </div>

    @*Footer*@
    <footer class="footer-dark" style="background: rgb(43,157,110);color: rgb(255,255,255);position: relative;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Trang chính</h3>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Cửa hàng</a></li>
                        <li><a href="#">Tài khoản</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Admin</h3>
                    <ul>
                        <li><a href="#">Đơn hàng</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Tài khoản</a></li>
                        <li><a href="#">Thống kê</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Khác</h3>
                    <ul>
                        <li><a href="#">Hỗ trợ</a></li>
                        <li><a href="#">Hình ảnh</a></li>
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <div class="row row-cols-1">
                        <div class="col d-flex justify-content-center align-items-center">
                            <img src="../../assets/img/logo.svg" style="height: 70px;" />
                        </div>
                        <div class="col d-flex justify-content-center" style="padding-top: 10px;"><a class="d-flex justify-content-center align-items-center" href="#" style="width: 40px;height: 40px;"><i class="fab fa-facebook-square d-flex justify-content-center align-items-center" style="width: 100%;height: 100%;"></i></a><a class="d-flex justify-content-center align-items-center" href="#" style="width: 40px;height: 40px;margin-left: 5px;"><i class="fab fa-twitter d-flex justify-content-center align-items-center" style="width: 100%;height: 100%;"></i></a><a class="d-flex justify-content-center align-items-center" href="#" style="width: 40px;height: 40px;margin-left: 6px;"><i class="fab fa-instagram d-flex justify-content-center align-items-center" style="width: 100%;height: 100%;"></i></a></div>
                        <div class="col d-flex justify-content-center" style="padding-top: 10px;"><small>Đông Tảo Shop 2021</small></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @*Scripts*@
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../../assets/js/admin-scripts.js"></script>
    <script src="../../assets/js/scripts.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    @*Create Notification*@
    <script>
        var list = @Html.Raw(Json.Encode(listNotification));
        for (var i = 0; i < list.length; i++) {
            var element = list[i];
            createNotification(element);
        }
    </script>
    @*Clear notification store*@
    <script>
        sessionStorage.removeItem('ThongBao');
    </script>
</body>
</html>
